{% extends 'upload/base.html' %}


{% block content %}
  <form action="{% url 'index' %}" method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    <input type="file" accept=".csv" name="file" required></input>
    <input type="submit" value="Submit">
  </form>
  <div class="list">
    <h2>Uploaded forms</h2>
    <table>
      <tr>
        <th>ID</th>
        <th>Date uploaded</th>
        <th>Upload method</th>
        <th>File</th>
        <th>Status</th>
        <th>Order</th>
        <th>Payment</th>
      </tr>
      {% if files %}
        {% for file in files %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ file.date_uploaded }}</td>
            <td>{{ file.upload_method }}</td>
            <td><a href="">{{ file.file.name }}</a></td>
            <td>{{ file.status.name }}</td>
            <td><a href="{% url 'order' file.order.id %}">{{ file.order.id }}</a></td>
            <td><a href="{% url 'payment' file.payment.id %}">{{ file.payment.id }}</a></td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="2000" style="text-align: center;">No uploaded forms<td>
        </tr>
      {% endif %}
    </table>
  </div>
{% endblock content %}
