{% extends 'upload/base.html' %}


{% block content %}
  <nav aria-label="breadcrumb mg-b-20">
    <ol class="breadcrumb breadcrumb-style1">
      <li class="breadcrumb-item active" aria-current="page">Upload</li>
    </ol>
  </nav>
  <div class="list">
    <div class='row justify-content-between pd-b-5 pd-l-15 pd-r-15'> 
      <h2>Uploaded forms</h2>
      <button class='btn btn-primary' type="button" data-toggle="modal" data-target="#exampleModalLong">Upload form</button>
      
    </div>
    <table class='table'>
      {% comment %} <tr> {% endcomment %}
      <thead class="thead-primary">
        <th>ID</th>
        <th>Date uploaded</th>
        <th>Upload method</th>
        <th>File</th>
        <th>Status</th>
        {% comment %} <th>Order</th>
        <th>Payment</th> {% endcomment %}
      {% comment %} </tr> {% endcomment %}
      </thead>
      {% if uploads %}
        {% for upload in uploads %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ upload.date_uploaded }} {{ upload.date_uploaded|time:"H:i" }}</td>
            <td>{{ upload.upload_method }}</td>
            <td>
              {% if upload.file_upload %}
                <a href="/media/{{upload.file_upload.file}}">{{ upload.file_upload.file }}</a>
              {% else %}
                -
              {% endif %}
            </td>
            <td>
              {% if upload.uploadstatus %}
                {{ upload.uploadstatus.status.name }}
              {% else %} 
                -
              {% endif %}
            </td>
            {% comment %} <td><a href="{% url 'order' file.order.id %}">{{ file.order.id }}</a></td> {% endcomment %}
            {% comment %} <td><a href="{% url 'payment' file.payment.id %}">{{ file.payment.id }}</a></td> {% endcomment %}
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="2000" style="text-align: center;">No uploaded forms<td>
        </tr>
      {% endif %}
    </table>
  </div>

  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upload form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'index' %}" method="post" enctype='multipart/form-data'>
          <div class="modal-body">
              {% csrf_token %}
              <div class="custom-file">
                <input type="file" class="custom-file-input" name='file' accept='.csv' id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Upload</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}
