{% extends 'catalog/base.html' %}

{% block content %}
<h1>Create private product</h1>
<form action="{% url 'create' %}" method="post">
  {% csrf_token %}

  <fieldset>
      <h2>General</h2>
      <div>
        <label>Name</label>
        <input name="name" type="text"></input>
      </div>
      <div>
        <label>Cut file</label>
        <input name="cut_file" type="file" accept=".csv"></input>
      </div>
      <h2>Product Size</h2>
      <div>
        <label>Width</label>
        <input name="product_size_width"></input>
      </div>
      <div>
        <label>Height</label>
        <input name="product_size_height"></input>
      </div>
  </fieldset>
  <input type="submit" value="Create">
</form>
{% endblock content %}
