{% extends 'catalog/base.html' %}

{% block content %}
  {% if product_list %}
    <div class="products">
      {% for product in product_list %}
        <div>
          <h3 class="name">{{ product.name }}</h3>
          {% if product.is_private %}
            <a href="/dashboard/catalog/{{product.id}}/update">Update</a>
          {% endif %}
          <div>
          <div class="name">Details</div>
            <div>
              Width
              {{ product.product_size.width }}
            </div>
            <div>
              Height
              {{ product.product_size.height }}
            </div>
          </div>
        </div> 
      {% endfor %}
    </div>
  {% else %}
    No items
  {% endif %}
  <br/>
  <a href="{% url 'catalog:create' %}">Create product</a>
{% endblock content %}
