{% extends 'catalog/base.html' %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1 mg-b-0">
      <li class="breadcrumb-item"><a href="#">Catalog</a></li>
      <li class="breadcrumb-item active" aria-current="page">Products</li>
    </ol>
  </nav>
  <a href="{% url 'catalog:create' %}">Create Product</a>
  {% if product_list %}
    <div class="card-deck">
      {% for product in product_list %}
        <div class="card col-3">
          {% comment %} <img src="" class="card-img-top" alt="..."> {% endcomment %}
          <div class='card-header'>
            <h6 class="card-title mg-t-5">{{product.name}}</h6>
          </div>
          <div class='card-body'>
            <p class="card-subtitle mb-2">
              Some description
              {{product.description}}
            </p>
            <div class="cart-text">
              <div>
                Width
                {{ product.product_size.width }}
              </div>
              <div>
                Height
                {{ product.product_size.height }}
              </div>
            </div>
          </div>
          <div class='card-footer'>
            {% comment %} <a href="{% url 'catalog:details' cart.order_number_internal %}" class="card-link">Details</a> {% endcomment %}
            <a href="#" class="card-link">Details</a>
            {% if product.is_private %}
              <a class='card-link' href="/dashboard/catalog/{{product.id}}/update">Update</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    No items
  {% endif %}
{% endblock content %}
