{% extends 'order/base.html' %}

{% block content %}
  {% if cart %}
  <ul>
    {{ cart.cartitems }}
    <li>
      <div>Items({{cartitems.count}})</div>
      <ol>
        {% for item in cartitems %}  
          <li>
            {{ item.id }}
            {{ item.product.name }}
            {{ item.product.type }}
            {% comment %} TODO Cost cannot be None {% endcomment %}
            {{ item.cost }}
          </li>
        {% endfor %}
      </ol>
    </li>
    <li>
      <div>To</div>
      <div>{{ cart.client_city }}</div>
    </li>
    <li>
      <div>Status:</div>
      <div>{{ cart.cartstatus.status.name }}</div>
    </li>
    <li>
      <div>Cost:</div>
      <div>{{ cart.total_cost }}</div>
    </li>
  </ul>
  <td><a href="{% url 'update' cart.order_number_internal %}">Update</a></td>
  {% else %}
    <p>No such order.</p>
  {% endif %}
{% endblock content %}
