{% extends 'order/base.html' %}

{% block content %}
  {% if cart_list %}
  <table>
    <tr>
      <th>Id</th>
      <th>Status</th>
      <th>Date Placed</th>
      <th>Order Cost</th>
      <th>Update</th>
    </tr>
    {% for cart in cart_list %}
    <tr>
      <td><a href="{% url 'detail' cart.order_number_internal %}">{{ cart.order_number }}</a></td>
      <td>{{ cart.cartstatus.status.name }}</td>
      <td>{{ cart.cartstatus.date_started }}</td>
      <td>{{ cart.total_cost }}</td>
      <td><a href="{% url 'update' cart.order_number_internal %}">Update</a></td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
      <p>No orders.</p>
  {% endif %}
{% endblock content %}