{% extends 'order/base.html' %}
{% load bootstrap5 %}

{% block content %}
  <div class='d-flex d-flex-row justify-content-between'>
    <h2>
      <a href='{% url 'details' cart.order_number_internal %}'>#{{ cart.order_number }}</a>
    </h2>
    {% if cart.is_cancellable %}
      <form action="{% url 'cancel_order' cart.order_number_internal %}" method="post">
        {% csrf_token %}
        <button class='btn btn-primary'></button>
      </form>
    {% else %}
        <button disabled type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
          title="{{cart.cartstatus.status.name}} order cannot be cancelled">
          Cancel Order
        </button>
    {% endif %}
  </div>

  <form action="{% url 'update' cart.order_number_internal %}" method="post">
    {% csrf_token %}
    <fieldset>
      <legend><h3>Update address</h3></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% comment %} {% bootstrap_form form %} {% endcomment %}
    </fieldset>
  

    <div class="form-group">
      <label for="formGroupExampleInput" class="d-block">Client address</label>
      <div class="input-group">
        <input type="text" class="form-control" aria-label="Name" value='{{ cart.client_address }}'
          {% if cart %}disabled{% endif %} 
        >
      </div>
    </div>

    <div class="form-group">
      <label for="formGroupExampleInput" class="d-block">Client address 2</label>
      <div class="input-group">
        <input type="text" class="form-control" aria-label="Name"
          {% if cart.client_address_2 %}
            value='{{ cart.client_address_2 }}'
          {% else %}
            placeholder='Client address 2'
          {% endif %}
          {% if cart %}disabled{% endif %} 
        >
      </div>
    </div>

   <div class="form-group">
      <label for="formGroupExampleInput" class="d-block">Client city</label>
      <div class="input-group">
        <input type="text" class="form-control" aria-label="Name" value='{{ cart.client_city }}'
          {% if cart %}disabled{% endif %} 
        >
      </div>
    </div>

   <div class="form-group">
      <label for="formGroupExampleInput" class="d-block">Client zip</label>
      <div class="input-group">
        <input type="text" class="form-control" aria-label="Name" value='{{ cart.client_zip }}'
          {% if cart %}disabled{% endif %} 
        >
      </div>
    </div>

    <div class="form-group">
      <label for="formGroupExampleInput" class="d-block">Client state</label>
      <div class="input-group">
        <input type="text" class="form-control" aria-label="Name" value='{{ cart.client_state }}'
          {% if cart %}disabled{% endif %} 
        >
      </div>
    </div>

    {% if cart.is_address_updatable %}
      <form action="{% url 'cancel_order' cart.order_number_internal %}" method="post">
        {% csrf_token %}
        <button class='btn btn-primary'></button>
      </form>
    {% else %}
        <button disabled type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
          title="{{cart.cartstatus.status.name}} order's address cannot be updated">
          Cancel Order
        </button>
    {% endif %}
  </form>

  {% comment %} TODO Tooltip not working {% endcomment %}
  <script type="text/javascript">
    $('[data-toggle="tooltip"]').tooltip();
  </script>
{% endblock content %}
