{% load static %}
{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'index/style.css' %}">
    <title>
    {% block title %}
      {% if is_logged_in %}
        Dashboard
      {% else %}
        Index
      {% endif %}
    {% endblock %}

    </title>
</head>

<body>
    <div id="sidebar" class='col-2'>
        {% block sidebar %}
        {% if is_logged_in %}
        <div> Welcome, {{ user }}</div>
        <ul>
          <li><a href="/dashboard/orders">Orders</a></li>
          <li><a href="/dashboard/catalog">Catalog</a></li>
          <li><a href="/dashboard/upload">Upload</a></li>
          <li><a href="/dashboard/payments">Payments</a></li>
          {% comment %} TODO {% endcomment %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
        {% else %}
        <ul>
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Signup</a></li>
        </ul>
        {% endif %}
        {% endblock %}
    </div>

    <div id="content">
      {# Display a form #}

        {% block base_content %}{% endblock %}
    </div>
</body>
</html>