{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'index/style.css' %}">
    <title>
    {% block title %}
      {% if is_logged_in %}
        Dashboard
      {% else %}
        Index
      {% endif %}
    {% endblock %}

    </title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        {% if is_logged_in %}
        <ul>
          <li><a href="{% url 'order' %}">Orders</a></li>
          <li><a href="{% url 'catalog' %}">Catalog</a></li>
          <li><a href="{% url 'upload' %}">Upload</a></li>
          <li><a href="{% url 'payments' %}">Payments</a></li>
        </ul>
        {% else %}
        <ul>
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Signup</a></li>
        </ul>
        {% endif %}
        {% endblock %}
    </div>

    <div id="content">
        {% block base_content %}{% endblock %}
    </div>
</body>
</html>