{% load static %}
{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'index/style.css' %}">
    <link rel="stylesheet" href="{% static 'index/main/lib/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'index/main/lib/ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'index/main/assets/css/dashforge.css' %}">
    <script src="https://js.stripe.com/v3/"></script>
    <title>
    {% block title %}
      {% if is_logged_in %}
        Dashboard
      {% else %}
        Index
      {% endif %}
    {% endblock %}

    </title>
</head>

<body>

    <div id="sidebar" class='col-2'>
        {% block sidebar %}
        {% if is_logged_in %}
        <div> Welcome, {{ user }}</div>
        <ul class="nav nav-pills">
          <li class='nav-item'><a {% if request.path == '/dashboard/' %} class='nav-link active' {% else %} class='nav-link' {% endif %} href="/dashboard">Home</a></li>
          <li class='nav-item'><a {% if request.path == '/dashboard/orders/' %} class='nav-link active' {% else %} class='nav-link' {% endif %} href="/dashboard/orders/">Orders</a></li>
          <li class='nav-item'><a {% if request.path == '/dashboard/catalog/' %} class='nav-link active' {% else %} class='nav-link' {% endif %} href="/dashboard/catalog/">Catalog</a></li>
          <li class='nav-item'><a {% if request.path == '/dashboard/upload/' %} class='nav-link active' {% else %} class='nav-link' {% endif %} href="/dashboard/upload/">Upload</a></li>
          <li class='nav-item'><a {% if request.path == '/dashboard/payments/' %} class='nav-link active' {% else %} class='nav-link' {% endif %} href="/dashboard/payments/">Payments</a></li>
          <li class='nav-item'><a class='nav-link' href="{% url 'logout' %}">Logout</a></li>
        </ul>
        {% else %}
        <ul>
          <li class='nav-item'><a class='nav-link' href="{% url 'login' %}">Login</a></li>
          <li class='nav-item'><a class='nav-link' href="{% url 'signup' %}">Signup</a></li>
        </ul>
        {% endif %}
        {% endblock %}
    </div>

    <div id="content">
      {# Display a form #}
      {% if messages %}
        {% for message in messages %}
          <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">{{ message }}</div>
        {% endfor %}
      {% endif %}
      {% comment %} {% bootstrap_messages %} {% endcomment %}

        {% block base_content %}{% endblock %}
    </div>
    <script src="{% static 'index/main/lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'index/main/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'index/main/lib/feather-icons/feather.min.js' %}"></script>

    <script src="{% static 'index/main/assets/js/dashforge.js' %}"></script>
</body>
</html>