{% extends 'index/base.html' %}

{% block base_content %}
  <div class='d-flex d-flex-row mg-t-30'>
    <div class='col-7'></div>
    <div class='col-3'>
      <h2>Create New Account</h2>
      <p class='tx-gray-500'>It's free to signup and only takes a minute.</p>
      {% for message in messages %}
        {{ message }}
      {% endfor %}
      <form method="post">
        {% csrf_token %}
        {% comment %} {{ form.as_p }} {% endcomment %}
        <div class="form-group">
          <label for="formGroupExampleInput" class="d-block">Email address</label>
          <div class="input-group">
            <input type="email" class="form-control" aria-label="Name" name='email_address'>
          </div>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput" class="d-block">Firstname</label>
          <div class="input-group">
            <input type="text" class="form-control" aria-label="Firstname" name='firstname'>
          </div>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput" class="d-block">Lastname</label>
          <div class="input-group">
            <input type="text" class="form-control" aria-label="Lastname" name='lastname'>
          </div>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput" class="d-block">Username</label>
          <div class="input-group">
            <input type="text" class="form-control" aria-label="Username" name='username'>
          </div>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput" class="d-block">Password</label>
          <div class="input-group">
            <input type="password" class="form-control" aria-label="Password" name='password1'>
          </div>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput" class="d-block">Password again</label>
          <div class="input-group">
            <input type="password" class="form-control" aria-label="Password again" name='password2'>
          </div>
        </div>
        <p class='tx-12'>
          By clicking 
          <span class='tx-bold'>Create an account</span>
          below, you agree to our terms of service and privacy statement.
        </p>
        <button class='btn btn-primary btn-block' type="submit">Sign up</button>
        <div class="divider-text">OR</div>
        <p class='align-self-center' style='text-align: center'>
          Already have an account?
          <a href='{% url 'login' %}'>Sign In</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}
