{% extends 'payment/base.html' %}
{% load bootstrap5 %}

{% block content %}
  <div class='invoices'>
    <h2>Paid invoices</h2>
    <table>
      <tr>
        <th>Id</th>
        <th>Date Approved</th>
        <th>Date Paid</th>
        <th>Payment</th>
      </tr>
      {% if invoice_list %}
        {% for invoice in invoice_list %}
          <tr>
            <td>{{ invoice.id }}</td>
            {% comment %} <td><a href="{% url 'media' invoice.id %}">{{ invoice.id }}</a></td> {% endcomment %}
            <td>{{ invoice.date_approved }}</td>
            <td>{{ invoice.date_paid }}</td>
            <td>{{ invoice.payment }}</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="1000" style="text-align: center;">
            No paid invoices
          </td>
        </tr>
      {% endif %}
    </table>
  </div>
  

  <h2>Added Payment Methods</h2>
  {% if not payment_methods %}
    <div class="warn">
      No payment methods
    </div>
  {% else %}
    <table>
      <tr>
        <th>Name</th>
        <th>Token</th>
        <th>Update</th>
        <th>Remove</th>
      </tr>
      {% for payment_method in payment_methods %}
        <tr>
          <td>{{ payment_method.name }}</td>
          <td>{{ payment_method.token }}</td>
          <td><a href="{% url 'update_payment_method' payment_method.id %}">Update</a></td>
          <td><a href="{% url 'remove_payment_method' payment_method.id %}">Remove</a></td>
        </tr>
      {% endfor %}
      </table>
    
  {% endif %}
  <form action="/your-name/" method="post" class='payment-form'>
    {% csrf_token %}
    {% comment %} {{ form }} {% endcomment %}
    {% bootstrap_form form %}
    {% bootstrap_button content='Submit' button_type="submit" %}
  </form>
{% endblock content %}
