{% extends 'payment/base.html' %}
{% load bootstrap5 %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1 mg-b-0">
      <li class="breadcrumb-item active" aria-current="page">Payments</li>
    </ol>
  </nav>
  <div class='invoices'>
    <h2>Paid invoices</h2>
    <table class='table'>
      <thead class='thead-primary'>
        <th>Id</th>
        <th>Date Approved</th>
        <th>Date Paid</th>
        <th>Payment</th>
      </thead>
      {% if invoice_list %}
        {% for invoice in invoice_list %}
          <tr>
            <td>{{ invoice.id }}</td>
            <td>
              {% if not invoice.date_approved %}
                Not Available
              {% else %} 
                {{ invoice.date_approved }}
              {% endif %}
            </td>
            <td>
              {% if not invoice.date_paid %}
                Not Available
              {% else %} 
                {{ invoice.date_paid }}
              {% endif %}
            </td>
            <td>
              {% if not invoice.payment %}
                Not Available
              {% else %} 
                {{ invoice.payment }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="1000" style="text-align: center;">
            No paid invoices
          </td>
        </tr>
      {% endif %}
    </table>
  </div>
  
  <h2>Added Payment Methods</h2>
  {% if payment_methods %}
    <table class='table'>
      <tr>
        <th>Name</th>
        <th>Token</th>
        <th>Status</th>
        <th>Remove</th>
      </tr>
      {% for payment_method in payment_methods %}
        <tr>
          <td>{{ payment_method.name }}</td>
          <td>
            {{ payment_method.token }}
          </td>
          <td>
            {% if payment_method.token %}
              Setup completed
            {% else %}
              <a href="{% url 'setup' payment_method.id %}">Finish setup</a>
            {% endif %}
          </td>
          <td><a href="#">Remove</a></td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <div class="warn">
      No payment methods
    </div>
  {% endif %}
  <button class='btn btn-primary' type="button" data-toggle="modal" data-target="#addPaymentModal">Add payment method</button>
  <div class="modal fade" id="addPaymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upload form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'index' %}" method="post" enctype='multipart/form-data'>
          <div class="modal-body d-flex" style='gap: 15px'>
            {% csrf_token %}
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Provider
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item d-flex flex-row align-items-center" href="#">
                  <i class="fab fa-cc-paypal fa-2x mg-r-10"></i>
                  <div>PayPal</div>
                </a>
                <a class="dropdown-item d-flex flex-row align-items-center" href="#">
                  <i class="fab fa-cc-stripe fa-2x mg-r-10"></i>
                  <div>Stripe</div>
                </a>
              </div>
            </div>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Type
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item d-flex flex-row align-items-center" href="#">
                  <i class="fas fa-user fa-2x mg-r-10"></i>
                  <div>Account</div>
                </a>
                <a class="dropdown-item d-flex flex-row align-items-center" href="#">
                  <i class="fas fa-credit-card fa-2x mg-r-10"></i>
                  <div>Card</div>
                </a>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Upload</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
