{% extends 'upload/base.html' %}
{% load static %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1 mg-b-0">
      <li class="breadcrumb-item active" href='{% url 'index' %}'>Payments</li>
      <li class="breadcrumb-item active" aria-current="page">Setup</li>
    </ol>
  </nav>
  <form id="payment-form">
    <div class='mg-y-10' style='min-height: 175px' id="payment-element">
      <div class="placeholder-paragraph">
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
    <button class='btn btn-primary' id="submit">Submit</button>
    <div id="error-message"></div>
  </form>

  <script>
    const stripe = Stripe('{{published_key}}');
    const options = {
      clientSecret: '{{client_secret}}',
    };

    // Set up Stripe.js and Elements to use in checkout form, passing the client secret obtained in step 3
    const elements = stripe.elements(options);

    // Create and mount the Payment Element
    const paymentElement = elements.create('payment');
    paymentElement.mount('#payment-element');

    const form = document.getElementById('payment-form');

    form.addEventListener('submit', async (event) => {
      event.preventDefault();

      const {error} = await stripe.confirmPayment({
        elements,
        confirmParams: {
          // TODO Dynamic url
          return_url: 'http://0.0.0.0:8000/dashboard/payments',
        },
      });

      if (error) {
        const messageContainer = document.querySelector('#error-message');
        messageContainer.textContent = error.message;
      }
    });
  </script>
{% endblock content %}
