#sidebar {
  width: 4rem;
}

.extend {
  min-width: 13rem;
}

.expanded, #sidebar > ul > p, #sidebar > ul > li > a > span {
  display: none;
  margin-bottom: 0;
}

#sidebar > ul > li > a {
  gap: 1.75rem;
}

#sidebar > ul > li > a > i {
  min-width: 1.5rem;
  text-align:center;
}

.page {
  padding: 1rem;
}

.page > nav {
  margin-bottom: 1rem;
}
